.themeplate .label {
	display: block;
}

.themeplate .label .description {
	padding-top: 0.5em;
}

.themeplate .description {
	display: block;
	color: #666;
	font-weight: normal;
	font-style: normal;
}

.themeplate .inside > .description {
	margin: 1em 0 0;
	padding-bottom: 1em;
	border-bottom: 1px solid #ddd;
}

.themeplate .form-table {
	margin-top: 0;
}

.themeplate tr {
	border-top: 1px solid #ddd;
}

.themeplate tr:first-of-type {
	border-top: 0;
}

.themeplate .grouped {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.themeplate .grouped + .form-table {
	margin-top: -2px;
}

.themeplate .grouped td {
	vertical-align: top;
}

.themeplate .grouped td:first-child {
	padding-left: 0;
}

.themeplate .grouped td:last-child {
	padding-right: 0;
}

.themeplate .grouped .stacked + .stacked {
	margin-top: 1.5em;
}

.themeplate .grouped .label {
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	color: #23282d;
	font-weight: 600;
}

.themeplate label + label {
	margin-left: 1em;
}

.themeplate input[type="text"],
.themeplate textarea,
.themeplate select {
	width: 100%;
}

.themeplate .iris-picker {
	position: absolute;
	z-index: 1001;
}

.themeplate-file::after {
	content: '';
	display: table;
	clear: both;
}

.themeplate-file .preview-holder {
	position: relative;
	min-width: 144px;
	min-height: 144px;
	float: left;
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}

.themeplate-file.multiple .preview-holder {
	width: 100%;
	margin-bottom: 0.5em;
}

.themeplate-file.single .attachment {
	width: 100%;
}

.themeplate-file .attachment.placeholder {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
}

.themeplate-file .attachment-close {
	visibility: hidden;
	opacity: 0;
}

.themeplate-file .attachment:hover .attachment-close {
	visibility: visible;
	opacity: 1;
}

.themeplate-file .attachment .filename {
	visibility: hidden;
	opacity: 0;
	transform: translateY( 20px );
	transition: all 0.2s ease-in-out;
}

.themeplate-file .attachment:hover .filename {
	visibility: visible;
	opacity: 1;
	transform: initial;
}

.themeplate-file .button + .button {
	margin-left: 0.5em;
}

.themeplate.select2-selection li,
.themeplate.select2-dropdown li {
	margin-bottom: 0;
}

.themeplate.select2-selection--single .select2-selection__clear {
	display: inline-block;
	margin-right: 5px;
	margin-top: -2px;
}

.themeplate .select2-results__option[aria-disabled='true'] {
	display: none;
}

.edit-tags-php .themeplate th,
.edit-tags-php .themeplate td {
	width: 100%;
	display: block;
	padding: 0;
	margin: 1em 0;
}

#after_title-sortables,
.themeplate.postbox {
	margin-top: 20px;
}

.themeplate .inside {
	margin: 6px 0 0;
}

.themeplate .hndle {
	font-size: 14px;
	padding: 8px 12px;
	margin: 0;
	line-height: 1.4;
}

.themeplate .toggle-indicator::before {
	content: "\f142";
	display: inline-block;
	font: 400 20px/1 dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none!important;
}

@media screen and ( min-width: 851px ) {
	[id $="side-sortables"] .themeplate th,
	[id $="side-sortables"] .themeplate td {
		width: 100%;
		display: block;
		padding: 0;
		margin: 1em 0;
	}

	.themeplate .grouped .one-half {
		width: 50%;
	}

	.themeplate .grouped .one-third {
		width: 33.33%;
	}

	.themeplate .grouped .two-third {
		width: 66.66%;
	}

	.themeplate .grouped .one-fourth {
		width: 25%;
	}

	.themeplate .grouped .three-fourth {
		width: 75%;
	}
}

@media screen and ( max-width: 782px ) {
	.themeplate th,
	.themeplate td {
		padding: 0;
		margin: 1.5em 0;
	}

	.themeplate .form-table .description {
		display: block;
	}
}
