/*.themeplate.form-table {
	box-sizing: border-box;
}

.themeplate.form-table *,
.themeplate.form-table *:before,
.themeplate.form-table *:after {
	box-sizing: inherit;
}*/

.themeplate.form-table tr {
	border-top: 1px solid #ddd;
}

.themeplate.form-table th span {
	display: block;
	padding-top: 0.5em;
	color: #666;
	font-weight: normal;
}

.themeplate.form-table td label {
	margin-right: 1em;
}

.themeplate.form-table input[type="text"],
.themeplate.form-table textarea,
.themeplate.form-table select {
	width: 100%;
}

.themeplate.form-table input[type="text"].wp-color-picker {
	width: 65px;
}

.themeplate.form-table .preview-holder {
	width: 144px;
	min-height: 144px;
	float: left;
	margin-right: 0.5em;
	border: 1px solid #ddd;
}

.themeplate.form-table .preview-holder:after {
	content: '';
	display: table;
	clear: both;
}

.themeplate.form-table .preview-holder.multiple {
	width: 100%;
	min-height: 72px;
	margin-right: 0;
	margin-bottom: 0.5em;
}

.themeplate.form-table .preview-holder .attachment {
	width: 100%;
}

.themeplate.form-table .preview-holder.multiple .attachment {
	width: 25%;
}

.themeplate.form-table.grouped td {
	vertical-align: top;
}

.themeplate.form-table.grouped .label {
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.themeplate.form-table.grouped .label label {
	margin-right: 0;
	color: #23282d;
	font-weight: 600;
}

.themeplate.form-table.grouped .label span {
	display: block;
	padding-top: 0.5em;
	color: #666;
	font-weight: normal;
}

@media screen and ( min-width: 851px ) {
	#side-sortables .themeplate.form-table th, #side-sortables .themeplate.form-table td {
		width: 100%;
		display: block;
		padding: 0;
		margin: 1em 0;
	}

	.themeplate.form-table .preview-holder.multiple {
		min-height: 144px;
	}
}
